.layout {
  height: 100vh;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  background-color: var(--bg-base);
  color: var(--text-base);
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.library {
  flex: 0 0 var(--sidebar-width);
  transition: flex-basis var(--transition-normal);
}

.libraryExpanded {
  flex: 1;
}

.main {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding-bottom: var(--player-height);

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  transition:
    opacity 0.3s ease,
    flex 0.3s ease;
}

.mainCollapsed {
  flex: 0 0 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  opacity: 0;
}
