.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 32px;

  background-color: var(--bg-base);
  border-bottom: 1px solid var(--bg-card);

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 220px;
  color: var(--text-base);
  text-decoration: none;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;

  @media (max-width: 768px) {
    width: auto;
  }
}
.logoSvg {
  width: 24px;
  height: 24px;
}

.search {
  margin-left: auto;
  width: min(500px, 50%);

  @media (max-width: 768px) {
    width: min(220px, 55%);
  }
}

.profile {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;

  background-color: var(--bg-base);
  color: var(--text-base);
  cursor: pointer;
}

.profile span {
   @media (max-width: 768px) {
    display: none;
  }
}
