.row {
  display: grid;
  grid-template-columns: 50px minmax(220px, 2fr) minmax(160px, 1fr) 52px 36px;
  align-items: center;
  gap: 12px;
  min-height: 64px;
  padding: 8px 12px;
  border-radius: var(--radius-md);
  color: var(--text-subdued);
  font-size: 14px;
  transition: background-color var(--transition-fast);
}

.row:hover {
  background-color: var(--bg-card-hover);
}

.number {
  position: relative;
  display: grid;
  place-items: center;
}

.trackNumber{
  display: block;
}

.icon{
  display: none;
}

/* Навели мышкой на всю строку */
.row:hover .trackNumber {
  display: none;
}

.row:hover .icon {
  display: flex;
}

.trackInfo {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 12px;
}

.cover,
.coverPlaceholder {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
  border-radius: var(--radius-sm);
}

.cover {
  display: block;
  object-fit: cover;
}

.coverPlaceholder {
  display: grid;
  place-items: center;
  background: var(--bg-highlight);
  color: var(--text-subdued);;
  font-size: 20px;
}

.text {
  min-width: 0;
}

.title,
.titlePlaying,
.artists,
.album {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title,
.titlePlaying {
  color: var(--text-base);
  font-size: 15px;
}

.titlePlaying {
  color: var(--brand-success-hover);
}

.artists {
  margin-top: 4px;
  color: var(--text-subdued);;
  font-size: 13px;
}

.album {
  font-size: 14px;
}

.duration {
  font-size: 14px;
  text-align: right;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 36px minmax(0, 1fr) 44px 32px;
    gap: 8px;
    padding: 8px;
  }

  .album {
    display: none;
  }
}